In [10]:
import pandas as pd 
import sklearn
import sklearn.metrics
import numpy as np

In [2]:
df=pd.read_csv('irr_data.csv')

In [3]:
df

    rater1  rater2  true_rate
0        1       1          1
1        1       1          1
2        2       2          2
3        1       2          3
4        1       2          2
5        2       1          2
6        3       1          2
7        3       2          2
8        2       2          2
9        3       3          3
10       1       1          2
11       3       2          2
12       2       2          1
13       2       2          3
14       2       2          2
15       1       1          1
16       1       1          2
17       1       2          1
18       1       2          2
19       1       1          1
20       2       2          2
21       1       2          1
22       2       3          3
23       1       2          2
24       1       2          1
25       2       2          1
26       2       3          1
27       1       2          2
28       2       3          1
29       2       2          2
..     ...     ...        ...
48       1       2          1
49       2       2          1
50       3       1          1
51       1       3          2
52       3       2          2
53       3       2          2
54       2       1          1
55       1       2          3
56       2       2          1
57       3       1          1
58       2       1          2
59       1       1          1
60       2       2          2
61       1       2          2
62       3       1          3
63       2       2          2
64       2       2          3
65       2       3          3
66       2       2          3
67       1       2          1
68       2       2          1
69       3       3          2
70       3       1          1
71       1       1          2
72       2       1          2
73       2       2          1
74       2       2          1
75       3       2          2
76       1       2          2
77       1       1          3

[78 rows x 3 columns]

In [14]:
sklearn.metrics.f1_score(list(df['rater1']),list(df['true_rate']),average='micro')

0.3974358974358974

In [8]:
X=df['rater1']

In [9]:
X

0     1
1     1
2     2
3     1
4     1
5     2
6     3
7     3
8     2
9     3
10    1
11    3
12    2
13    2
14    2
15    1
16    1
17    1
18    1
19    1
20    2
21    1
22    2
23    1
24    1
25    2
26    2
27    1
28    2
29    2
     ..
48    1
49    2
50    3
51    1
52    3
53    3
54    2
55    1
56    2
57    3
58    2
59    1
60    2
61    1
62    3
63    2
64    2
65    2
66    2
67    1
68    2
69    3
70    3
71    1
72    2
73    2
74    2
75    3
76    1
77    1
Name: rater1, Length: 78, dtype: int64